.navbar {
  background-color: #fff;
  height: 80px;
  box-shadow: 0 0 4px #00000040;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  padding: 0 35px;
  justify-content: space-between;
  gap: 20px;

  .menu-button {
    display: none;
    color: #495057;
    width: 80px;
    height: 80px;
    line-height: 70px;
    text-align: center;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  .menu-button:hover {
    background-color: #e9ecef;
  }
  .menu-button i {
    font-size: 24px;
    line-height: 3.4;
  }
  .pi-bars:before {
    content: "\e91d";
  }
  div:nth-child(2) {
    // width: 50%;
    flex-basis: 50%;
  }
  div:nth-child(3) {
    // width: 40%;
    justify-self: flex-end;
  }
 /*  div:nth-child(4) {
    // width: 10%;
  } */
  #search-bar:enabled:focus {
    background-color: white;
  }
  #search-bar {
    background-color: #e9ecef;
    width: 100%;
  }
  .search-icon{
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .navbar {
    padding: 0;
    padding-right: 35px;
  }
  .navbar .menu-button {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar .search-span{
    display: none;
  }
  .navbar .search-icon{
    display: flex;
    background-color: #f1f2f3;
  }
}
